@media (max-width: 520px) {
  body.--show-credits .credits {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1rem 2rem;
    text-align: center;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
  body.--show-credits .credits .credits-line {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
